<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sasquatch Websighting!</title>
</head>
<body>
    <header class="d-flex justify-content-between">
        <h1>Sasquatch Websighting!</h1>
        <div class="d-flex flex-column">
            <h2>{{user.fullName()}}</h2>
            <a href="/new/sasquatch" class="btn btn-secondary btn-outline-dark">Report A Sighting</a>
            <a href="/logout" class="btn btn-danger btn-outline-dark">Logout!</a>
        </div>
    </header>
    <main>
        <h2>Reported Sightings</h2>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                    <th scope="col">Reported By</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sasquatch in sasquatch %}
                <tr>
                    <td>{{sasquatch.location}}</td>
                    <td>{{sasquatch.date}}</td>
                    <td>
                        {% for u in users %}
                            {% if sasquatch.user_id == u.id %}
                                {{u.fullName()}}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if user.id == sasquatch.user_id %}
                            <button><a href="/sasquatch/view/{{sasquatch.id}}">View</a></button> | 
                            <button><a href="/edit/{{sasquatch.id}}">Edit</a></button> | 
                            <button><a href="/sasquatch/delete/{{sasquatch.id}}">Delete</a></button>
                        {% else %}
                            <button><a href="/sasquatch/view/{{sasquatch.id}}">View</a></button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>