<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header class="d-flex justify-content-between">
        <h1>Sasquatch Websighting!</h1>
        <div class="d-flex flex-column">
            <h2>{{user.fullName()}}</h2>
            <a href="/dashboard" class="btn btn-secondary btn-outline-dark">Dashboard</a>
            <a href="/logout" class="btn btn-danger btn-outline-dark">Logout!</a>
        </div>
    </header>
    <main>
        <div class="card text-white bg-dark mb-3">
            <h1>{{sasquatch.location}} on {{sasquatch.date}}</h1>
            <div class="flex-container">
                <p >What Happened: {{sasquatch.whatHappened}}</p>
            </div>
            <div class="flex-container">
                <p ># of Sasquatches: {{sasquatch.numSasquatch}}</p>
            </div>
            <div class="flex-container">
                <p>
                    {% for u in users %}
                            {% if sasquatch.user_id == u.id %}
                                Reported By: {{u.fullName()}}
                            {% endif %}
                        {% endfor %}
                </p>
            </div>
        </div>
    </main>
</body>
</html>