<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New Dojo</title>
</head>
<body>
    <div class="d-flex justify-content-around">
        <div>
            <h1>New Dojo</h1>
            <form action="/new_dojo" method="post">
                <div class="form-group">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <button class="btn btn-success">Create Dojo</button>
            </form>
        </div>
        <div>
            <h1>All Dojos</h1>
            {% for cohort in dojo %}
                <p>
                    <a href="/dojo/{{cohort.id}}">{{cohort.name}}</a>
                </p>
            {% endfor %}
            <button>
                <a href="/ninja">Add Ninja</a>
            </button>
        </div>
    </div>
</body>
</html>